@font-face {
  font-family: "GlendaleLight";
  src: url("/public/fonts/GlendaleLight.otf") format("opentype");
}

@font-face {
  font-family: "GlendaleRegular";
  src: url("/public/fonts/GlendaleRegular.otf") format("opentype");
}

@font-face {
  font-family: "GlendaleBold";
  src: url("/public/fonts/GlendaleBold.otf") format("opentype");
}

@font-face {
  font-family: "Dirtyline";
  src: url("/public/fonts/Dirtyline.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 63.5%;
  --h1Size: 8.2rem;
  --h2Size: 3.6rem;
  --h3Size: 1.1rem;
  --pSize: 1.24rem;
  --boxPaddingSize: 104rem 196rem;
  --dayColor: #f1f1f1;
  --dayBackgroundColor: #151515;
  --nightColor: #151515;
  --nightBackgroundColor: #f1f1f1;
}

h1,
h2,
h3,
p {
  color: var(--dayColor);
}
