@font-face {
  font-family: "Acumin Pro ExtraCond Bold";
  src: url("/public/fonts/Acumin Pro ExtraCond Bold.otf") format("opentype");
}

@font-face {
  font-family: "Acumin Pro ExtraCond Light";
  src: url("/public/fonts/Acumin Pro ExtraCond Light.otf") format("opentype");
}

@font-face {
  font-family: "Acumin Pro Cond Thin";
  src: url("/public/fonts/Acumin Pro Cond Thin.otf") format("opentype");
}

html {
  font-size: 63.5%;
  --h1Size: 9.7rem;
  --h2Size: 4rem;
  --h3Size: 1.5rem;
  --pSize: 1.6rem;
  --boxPaddingSize: 104rem 196rem;
  --dayColor: #f1f1f1;
  --dayBackgroundColor: #151515;
  --nightColor: #151515;
  --nightBackgroundColor: #f1f1f1;
  /* Disabling highlighting elements */
  /* user-select: none; */
}
